body{
        font-family: Arial, sans-serif;
    background-color: hsl(184, 100%, 67%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}